.sidebar {
    background-color: lightyellow;


}

.sidebar.open {

}

.background {
}

.nav {

}

.nav a {
    margin: 20px;
    text-decoration: none;
    color: saddlebrown;
}

.nav a:hover {
}

.nav a.active {
    color: lightskyblue;
    margin: 20px;
    text-decoration: none;

}
.close {
}

.close img {
}
