.input:focus {
}

.input {
}

.inputWrapper {
}

.superInput {

}

.errorInput {
    outline-color: lightskyblue;
}

.errorInput:focus {
    border-radius: 1px;
}

.error {
    color: lightskyblue;
}
